# 인디언

<h1> 인디언식 이름 짓기<h1>

In [28]:
year = {
   0: '시끄러운 또는 말 많은',
   1: '푸른',
   2: '어두운 -> 적색',
   3: '조용한',
   4: '웅크린',
   5: '백색',
   6: '지혜로운',
   7: '용감한',
   8: '날카로운',
   9: '욕심많은'
}

month = {
   1: '늑대', 2: '태양', 3: '양', 4: '매',
   5: '황소', 6: '불꽃', 7: '나무', 8: '달빛',
   9: '말', 10: '돼지', 11: '하늘', 12: '바람'
}

day = {
   1: '와(과) 함께 춤을', 2: '의 기상', 3: '은(는) 그림자속에',
   4: '', 5: '', 6: '',
   7: '의 환생', 8: '의 죽음', 9: '의 아래에서',
   10: '을(를) 보라', 11: '이(가) 노래하다', 12: '의 그늘 -> 그림자',
   13: '의 일격', 14: '에게 쫓기는 남자', 15: '의 행진',
   16: '의 왕', 17: '의 유령', 18: '을 죽인자',
   19: '은(는) 맨날 잠 잔다', 20: '처럼', 21: '의 고향',
   22: '의 전사', 23: '은(는) 나의 친구', 24: '의 노래',
   25: '의 정령', 26: '의 파수꾼', 27: '의 악마',
   28: '와(과) 같은 사나이', 29: '의 심판자 -> 을(를) 쓰러트린 자', 30: '의 혼',
   31: '은(는) 말이 없다',
}

In [24]:
#    0123456789
s = '1971-08-07'
s.find('-'), s.find('-',5)
first = s.find('-')
sconed = s.find('-', first + 1)
first, sconed

월 = s[first + 1:sconed]
print(월)         #월

일 = s[sconed+1:]
print(일)           #일

08
07

In [32]:
#           0123456789
birthday = '1971-08-07'

y = birthday[3]
y = birthday[  birthday.find('-') - 1  ]

m = birthday[5:7]
m = birthday[birthday.find('-') + 1 : birthday.find('-', 5)]
d = birthday[8:10]

print('%s%s%s'%(year.get(int(y)), month.get(int(m)), day.get(int(d))))

푸른 달빛 의 환생

In [184]:
import requests
res = requests.get('https://newsapi.org/v2/top-headlines?country=kr&apiKey=9f5baf7d9f3f42879a20d7d19d9886e4')
result = res.json()

In [143]:
name = result['articles'][0].get('name')
print(name)

None

In [187]:
articles = result.get('articles')
for articles in articles:
    source = articles.get('source')
    print(source)
    
#     for source in source:
#     name = source.get('name')
#     print(name)

{'id': None, 'name': 'Bodnara.co.kr'}
{'id': None, 'name': 'Kbench.com'}
{'id': None, 'name': 'Kormedi.com'}
{'id': None, 'name': 'Gamemeca.com'}
{'id': None, 'name': 'Hani.co.kr'}
{'id': None, 'name': 'Hani.co.kr'}
{'id': None, 'name': 'Betanews.net'}
{'id': None, 'name': 'Chosun.com'}
{'id': None, 'name': 'Mt.co.kr'}
{'id': None, 'name': 'Sedaily.com'}
{'id': None, 'name': 'Khan.co.kr'}
{'id': None, 'name': 'Imbc.com'}
{'id': None, 'name': 'Newslock.co.kr'}
{'id': None, 'name': 'Seoul.co.kr'}
{'id': None, 'name': 'Hani.co.kr'}
{'id': None, 'name': 'Chosun.com'}
{'id': None, 'name': 'YouTube'}
{'id': None, 'name': 'Spochoo.com'}
{'id': None, 'name': 'Hani.co.kr'}
{'id': None, 'name': 'Korea.kr'}

In [188]:
for source in source:
    name = source.get('name')
    print(name)

AttributeError: 'str' object has no attribute 'get'

In [83]:
articles = result.get('articles')
for articles in articles:
    publishedAt = articles.get('publishedAt')
    print(publishedAt)

2023-02-10T02:18:00Z
2023-02-10T01:58:35Z
2023-02-10T01:56:00Z
2023-02-10T01:39:40Z
2023-02-10T01:37:00Z
2023-02-10T01:33:50Z
2023-02-10T01:26:00Z
2023-02-10T01:11:52Z
2023-02-10T01:05:47Z
2023-02-10T01:04:00Z
2023-02-10T01:00:31Z
2023-02-10T00:58:35Z
2023-02-10T00:42:01Z
2023-02-10T00:35:40Z
2023-02-10T00:33:00Z
2023-02-10T00:29:00Z
2023-02-10T00:09:35Z
2023-02-09T23:40:00Z
2023-02-09T23:38:01Z
2023-02-09T23:04:06Z

In [42]:
articles = result.get('articles')
for articles in articles:
    publishedAt = articles.get('publishedAt')
    년 = publishedAt[:4]
    월 = publishedAt[5:7]
    일 = publishedAt[8:10]
    시 = publishedAt[11:13]
    분 = publishedAt[14:16]
    초 = publishedAt[17:19]
    
    print(f"작성일자는 {년}년 {월}월 {일}일 {시}시 {분}분 {초}초 이다.")

작성일자는 2023년 02월 10일 00시 29분 03초 이다.
작성일자는 2023년 02월 10일 00시 29분 00초 이다.
작성일자는 2023년 02월 10일 00시 18분 31초 이다.
작성일자는 2023년 02월 10일 00시 09분 40초 이다.
작성일자는 2023년 02월 10일 00시 09분 35초 이다.
작성일자는 2023년 02월 10일 00시 00분 15초 이다.
작성일자는 2023년 02월 09일 23시 21분 55초 이다.
작성일자는 2023년 02월 09일 23시 19분 59초 이다.
작성일자는 2023년 02월 09일 23시 16분 22초 이다.
작성일자는 2023년 02월 09일 23시 07분 17초 이다.
작성일자는 2023년 02월 09일 23시 00분 25초 이다.
작성일자는 2023년 02월 09일 23시 00분 00초 이다.
작성일자는 2023년 02월 09일 22시 32분 27초 이다.
작성일자는 2023년 02월 09일 22시 18분 00초 이다.
작성일자는 2023년 02월 09일 22시 02분 30초 이다.
작성일자는 2023년 02월 09일 22시 00분 03초 이다.
작성일자는 2023년 02월 09일 21시 42분 59초 이다.
작성일자는 2023년 02월 09일 21시 19분 23초 이다.
작성일자는 2023년 02월 09일 21시 17분 07초 이다.
작성일자는 2023년 02월 09일 21시 11분 00초 이다.

In [61]:
articles = result.get('articles')
for articles in articles:
    publishedAt = articles.get('publishedAt')
    년 = publishedAt[ : publishedAt.find('-')]
    월 = publishedAt[int(년) + 1 : publishedAt.find('-')  ]
    일 = publishedAt[publishedAt.find('t') - 2 : publishedAt.find('t')]
    시 = publishedAt[publishedAt.find(':') - 2 :publishedAt.find(':')]
    분 = publishedAt[int(시) + 1 : publishedAt.find(':') - 1]
    초 = publishedAt[-3:-1]
    
    print(f"작성일자는 {년}년 {월}월 {일}일 {시}시 {분}분 {초}초 에 작성되었다.")

작성일자는 2023년 월 03일 00시 023-02-10T0분 03초 에 작성되었다.
작성일자는 2023년 월 00일 00시 023-02-10T0분 00초 에 작성되었다.
작성일자는 2023년 월 31일 00시 023-02-10T0분 31초 에 작성되었다.
작성일자는 2023년 월 40일 00시 023-02-10T0분 40초 에 작성되었다.
작성일자는 2023년 월 35일 00시 023-02-10T0분 35초 에 작성되었다.
작성일자는 2023년 월 15일 00시 023-02-10T0분 15초 에 작성되었다.
작성일자는 2023년 월 55일 23시 분 55초 에 작성되었다.
작성일자는 2023년 월 59일 23시 분 59초 에 작성되었다.
작성일자는 2023년 월 22일 23시 분 22초 에 작성되었다.
작성일자는 2023년 월 17일 23시 분 17초 에 작성되었다.
작성일자는 2023년 월 25일 23시 분 25초 에 작성되었다.
작성일자는 2023년 월 00일 23시 분 00초 에 작성되었다.
작성일자는 2023년 월 27일 22시 분 27초 에 작성되었다.
작성일자는 2023년 월 00일 22시 분 00초 에 작성되었다.
작성일자는 2023년 월 30일 22시 분 30초 에 작성되었다.
작성일자는 2023년 월 03일 22시 분 03초 에 작성되었다.
작성일자는 2023년 월 59일 21시 분 59초 에 작성되었다.
작성일자는 2023년 월 23일 21시 분 23초 에 작성되었다.
작성일자는 2023년 월 07일 21시 분 07초 에 작성되었다.
작성일자는 2023년 월 00일 21시 분 00초 에 작성되었다.



# 로또 1등 번호 가져오기

In [144]:
import requests
res = requests.get('https://dhlottery.co.kr/gameResult.do?method=byWin')
result = res.text

In [145]:
sidx = result.find('<strong>1053회</strong>')
eidx = result.find('num bonus', sidx)
result2 = result[sidx:eidx]
print(result2)

<strong>1053회</strong> 당첨결과</h4>
					<p class="desc">(2023년 02월 04일 추첨)</p>
					<div class="nums">
						<div class="num win">
							<strong>당첨번호</strong>
							<p>
								<span class="ball_645 lrg ball3">22</span>
								<span class="ball_645 lrg ball3">26</span>
								<span class="ball_645 lrg ball3">29</span>
								<span class="ball_645 lrg ball3">30</span>
								<span class="ball_645 lrg ball4">34</span>
								<span class="ball_645 lrg ball5">45</span>
							</p>
						</div>
						<div class="

In [146]:
sidx = result2.find('ball_645', eidx)
print(sidx)
sidx = result2.find('>',sidx)
eidx = result2.find('<',sidx)
result2[sidx + 1 : eidx]

-1

'<strong>1053회</strong> 당첨결과</h4>\r\n\t\t\t\t\t<p class="desc">(2023년 02월 04일 추첨)</p>\r\n\t\t\t\t\t<div class="nums">\r\n\t\t\t\t\t\t<div class="num win">\r\n\t\t\t\t\t\t\t<strong>당첨번호</strong>\r\n\t\t\t\t\t\t\t<p>\r\n\t\t\t\t\t\t\t\t<span class="ball_645 lrg ball3">22</span>\r\n\t\t\t\t\t\t\t\t<span class="ball_645 lrg ball3">26</span>\r\n\t\t\t\t\t\t\t\t<span class="ball_645 lrg ball3">29</span>\r\n\t\t\t\t\t\t\t\t<span class="ball_645 lrg ball3">30</span>\r\n\t\t\t\t\t\t\t\t<span class="ball_645 lrg ball4">34</span>\r\n\t\t\t\t\t\t\t\t<span class="ball_645 lrg ball5">45</span>\r\n\t\t\t\t\t\t\t</p>\r\n\t\t\t\t\t\t</div>\r\n\t\t\t\t\t\t<div class='

In [147]:
eidx = 0
while True:
    sidx = result2.find('ball_645', eidx)
    if sidx == -1: break
    sidx = result2.find('>',sidx)
    eidx = result2.find('<',sidx)
    print(result2[sidx + 1 : eidx])

22
26
29
30
34
45

In [155]:
num = 123 # 1 2 3

일자리= num % 10
print(일자리)

십자리 = num // 10 % 10
print(십자리)

백자리 = num // 100 %10
print(백자리)

3
2
1

In [157]:
num = 123 # 1 2 3

n = num % 10
print(n)

num = num // 10
n = num % 10
print(n)

num = num // 10
n = num%10
print(n)

3
2
1

In [156]:
num = 123
while True:
    n =num % 10
    print(n)
    num = num // 10
    if num == 0 : break

3
2
1

In [168]:
num = 123
temp = str(num)
temp2 = list(temp)
print(list(map(int, temp2)))
print(sum(list(map(int, temp2))))

[1, 2, 3]
6

In [175]:
page = 10   #10으로 나누어 떨어지는 페이지는 오동작
#시작 1 마지막 10    <==
시작 = page //10 * 10 + 1
마지막 = 시작 + 9
시작, 마지막

(11, 20)

In [180]:
page = 100 
#시작 1 마지막 10    <==
if page % 10 != 0 : 
    시작 = page //10 * 10 + 1
else :
    시작 = (page - 1) // 10 * 10 +1
마지막 = 시작 + 9
시작, 마지막

(91, 100)

In [189]:
page = 11   #10으로 나누어 떨어지는 페이지는 오동작
#시작 1 마지막 10    <==
시작 = (page-1) //10 * 10 + 1

# if page %10 ==0:
#     시작 = page -9
    
마지막 = 시작 + 9
시작, 마지막

(11, 20)

In [196]:
#폴더가 없으면 생성하기
import os
# if os.path.isdir('ggoreb')  ==False:
if not os.path.isdir('ggoreb'):
    os.mkdir('ggoreb')

In [199]:
#       012345
text = 'abcdef' #홀수  => c
center = len(text)//2
if len(text) % 2 != 0:
    print(text[center])
else:
    #                2  :  4
    print(text[center-1 :center+1])

cd

In [206]:
a = 4
b = 2
c = 1
#a가 5이고, b가 3이거나 c가 1미만이면 통과
if a == 5 and (b == 3 or c == 1):
    print('통과')
else:
    print('불과')

통과

In [25]:
count = 0
for i in range(1,101):
    if '3' in str(i):
        count = count + 1
print('갯수',count)        
        
for i in range(1,101):
    if '3' in str(i):
        print(i)

갯수 19
3
13
23
30
31
32
33
34
35
36
37
38
39
43
53
63
73
83
93

In [22]:
temp = []
for i in range(0,100):
    i += 1
    temp.append(i)
    
print(temp)
# result = ''.join(str(temp))
# print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [23]:
num = 123
temp = str(num)
temp2 = list(temp)
print(list(map(int, temp2)))
print(sum(list(map(int, temp2))))

[1, 2, 3]
6